{% extends 'app/base.html' %}
{% block content %}
 
<h1>User profile</h1>

<h4>Username: {{ user.username }}</h4>
{% if user.is_translator %}
    {% if rating %}
        <p>Rating: {{ rating }}</p>
    {% else %}
        <p>No ratings yet.</p>
    {% endif %}
{% endif %}
<p>Your email: {{ user.email }}</p>

<h2>Edit data</h2>

<form method="post" action="{% url 'accounts:change_email' %}">
    {% csrf_token %}

    {{ emailForm.as_p }}

    <input type="submit" value="Change your email address">
</form>


<form method="post" action="{% url 'accounts:change_password' %}">
    {% csrf_token %}

    {{ passwordForm.as_p }}

    <input type="submit" value="Change your password">
</form>

{% if assignedJobsUser %}
    <h2>Jobs assigned by you</h2>
    {% for job in assignedJobsUser %}
            <p>Title: {{ job.title }}</p> 
            <p>Description: {{ job.description }}</p>
            <p>Source language: {{ job.source_language }}</p>
            <p>Target language: {{ job.target_language }}</p>
            <p>Job field: {{ job.get_field_display }}</p>
            <p>Budget: {{ job.budget }}</p>
            <p>Source text: {{ job.source_text }}</p>
            <p>Translator: <a href="{% url 'accounts:user_dashboard' job.translator.id %}">{{job.translator}}</a></p>
                {% for biddingOffer in biddingOffers %}
                    {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                        <p>Accepted quote: {{biddingOffer.quote}}</p>
                    {% endif %}
                {% endfor %}
            <br>              
    {% endfor %}
{% endif %}

{% if completedJobsUser %}
    <h2>Completed Jobs for you</h2>
    {% for job in completedJobsUser %}
        <p>Title: {{ job.title }}</p> 
        <p>Description: {{ job.description }}</p>
        <p>Source language: {{ job.source_language }}</p>
        <p>Target language: {{ job.target_language }}</p>
        <p>Job field: {{ job.get_field_display }}</p>
        <p>Budget: {{ job.budget }}</p>
        <p>Source text: {{ job.source_text }}</p>
        <p>Translated text: {{ job.translated_text }}</p>
        <p>Translator: <a href="{% url 'accounts:user_dashboard' job.translator.id %}">{{job.translator}}</a></p>
            {% for biddingOffer in biddingOffers %}
                {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                    <p>Accepted quote: {{biddingOffer.quote}}</p>
                {% endif %}
            {% endfor %} 
            {% if user == job.user %}
                <p><a href="{% url 'app:rate_job' job.id %}">Rate job</a></p>
                <p><a href="{% url 'app:dispute_job' job.id %}">Dispute job</a></p>
            {% endif %}
        <br>
    {% endfor %}
{% endif %}

{% if submittedBids %}
    <h2>Submitted bids</h2>
    {% for bid in submittedBids %}
        <div>
            <p>Title: {{ bid.job.title }}</p>
            <p>Quote: {{ bid.quote }}</p>
        </div>
        <br>
    {% endfor %}
{% endif %}

{% if assignedJobsTranslator %}
    <h2>Jobs assigned to you</h2>
    {% for job in assignedJobsTranslator %}
        <p>Title: {{ job.title }}</p> 
        <p>Description: {{ job.description }}</p>
        <p>Source language: {{ job.source_language }}</p>
        <p>Target language: {{ job.target_language }}</p>
        <p>Job field: {{ job.get_field_display }}</p>
        <p>Budget: {{ job.budget }}</p>
        <p>Source text: {{ job.source_text }}</p>
        <p>For: <a href="{% url 'accounts:user_dashboard' job.user.id %}">{{ job.user.username }}</a></p>
            {% for biddingOffer in biddingOffers %}
                {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                    <p>Accepted quote: {{biddingOffer.quote}}</p>
                {% endif %}
            {% endfor %} 
        <p><a href="{% url 'app:complete_job' job.id %}">Complete job</a></p>
        <br>  
    {% endfor %}
{% endif %}

{% if completedJobsTranslator %}
    <h2>Completed Jobs by you</h2>
        {% for job in completedJobsTranslator %}
        <p>Title: {{ job.title }}</p> 
        <p>Description: {{ job.description }}</p>
        <p>Source language: {{ job.source_language }}</p>
        <p>Target language: {{ job.target_language }}</p>
        <p>Job field: {{ job.get_field_display }}</p>
        <p>Budget: {{ job.budget }}</p>
        <p>Source text: {{ job.source_text }}</p>
        <p>Translated text: {{ job.translated_text }}</p>
        <p>For: <a href="{% url 'accounts:user_dashboard' job.user.id %}">{{ job.user.username }}</a></p>
            {% for biddingOffer in biddingOffers %}
                {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                    <p>Accepted quote: {{biddingOffer.quote}}</p>
                {% endif %}
            {% endfor %} 
            {% if user == job.user %}
                <p><a href="{% url 'app:rate_job' job.id %}">Rate job</a></p>
                <p><a href="{% url 'app:dispute_job' job.id %}">Dispute job</a></p>
            {% endif %}
        <br>
    {% endfor %}
{% endif %}

{% endblock %}