{% extends 'app/base.html' %}
{% block content %}
 
    <h1>User dashboard</h1>

    <h2>User info</h2>
    <div>
        <p>{{ target_user.username }}</p>
        <p>{{ target_user.email }}</p>
        {% if target_user == user %}
            <p>Tokens: {{ user.tokens }}</p>
        {% endif %}
        {% if not target_user == user %}
            <p><a href="/">Message User</a></p>
        {% endif %}
        {% if target_user.is_translator %}
            {% if rating %}
                <p>{{ rating }}</p>
            {% else %}
                <p>(unrated)</p>
            {% endif %}
        {% endif %}
        <br>
    </div>

    {% if postedJobs %}
        <h2>Posted Jobs</h2>
        {% for job in postedJobs %}
            <div>
                <p>{{ job.title }}</p>
                <p>{{ job.description }}</p>
                <p>{{ job.source_launguage }}</p>
                <p>{{ job.target_language }}</p>
                <p>{{ job.get_field_display }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.source_text }}</p>
                {% if not job.user == user and user.is_translator %}   
                    <p><a href="{% url 'app:job_bidding' job.id %}">Bid on Job</a></p>
                {% endif %}               
                {% for biddingOffer in biddingOffers %}
                <div>
                    {% if biddingOffer.job == job %}
                        <p>Offer: {{biddingOffer.quote}} - <a href="{% url 'accounts:user_dashboard' biddingOffer.translator.id %}">{{biddingOffer.translator}}</a></p>
                        {% if job.user == user %}
                            <form method="post" action="{% url 'app:job_accept' job.id biddingOffer.id %}">
                                {% csrf_token %}
                                <input type="submit" value="Accept">  
                            </form>
                        {% endif %}
                    {% endif %}                    
                </div>
                {% endfor %}
            </div>
            <br>

        {% endfor %}
    {% endif %}

    {% if user == target_user and assignedJobsUser %}
        <h2>Jobs assigned by {{ target_user.username }}</h2>
        {% for job in assignedJobsUser %}
                <p>{{ job.title }}</p> 
                <p>{{ job.description }}</p>
                <p>{{ job.source_launguage }}</p>
                <p>{{ job.target_language }}</p>
                <p>{{ job.get_field_display }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.source_text }}</p>
                <p><a href="{% url 'accounts:user_dashboard' job.translator.id %}">{{job.translator}}</a></p>
                    {% for biddingOffer in biddingOffers %}
                        {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                            <p>Accepted quote: {{biddingOffer.quote}}</p>
                        {% endif %}
                    {% endfor %}
                <br>              
        {% endfor %}
    {% endif %}

    {% if user == target_user and assignedJobsTranslator %}
        <h2>Jobs assigned to {{ target_user.username }}</h2>
        {% for job in assignedJobsTranslator %}
                <p>{{ job.title }}</p> 
                <p>{{ job.description }}</p>
                <p>{{ job.source_launguage }}</p>
                <p>{{ job.target_language }}</p>
                <p>{{ job.get_field_display }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.source_text }}</p>
                {% for biddingOffer in biddingOffers %}
                    {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                        <p>Accepted quote: {{biddingOffer.quote}}</p>
                    {% endif %}
                {% endfor %} 
                <a href="{% url 'app:complete_job' job.id %}">Complete job</a>
                <br>    
        {% endfor %}
    {% endif %}


    {% if completedJobsUser %}
        <h2>Completed Jobs for {{ target_user.username }}</h2>
        {% for job in completedJobsUser %}
                <p>{{ job.title }}</p> 
                <p>{{ job.description }}</p>
                <p>{{ job.source_launguage }}</p>
                <p>{{ job.target_language }}</p>
                <p>{{ job.get_field_display }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.source_text }}</p>
                <p><a href="{% url 'accounts:user_dashboard' job.translator.id %}">{{job.translator}}</a></p>
                <p>{{ job.translated_text }}</p>
                {% for biddingOffer in biddingOffers %}
                    {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                        <p>Accepted quote: {{biddingOffer.quote}}</p>
                    {% endif %}
                {% endfor %} 
                {% if user == job.user %}
                    <a href="{% url 'app:rate_job' job.id %}">Rate job</a>
                {% endif %}
                <br>
        {% endfor %}
    {% endif %}

    {% if completedJobsTranslator %}
        <h2>Completed Jobs by {{ target_user.username }}</h2>
        {% for job in completedJobsTranslator %}
                <p>{{ job.title }}</p> 
                <p>{{ job.description }}</p>
                <p>{{ job.source_launguage }}</p>
                <p>{{ job.target_language }}</p>
                <p>{{ job.get_field_display }}</p>
                <p>{{ job.budget }}</p>
                <p>{{ job.source_text }}</p>
                <p>{{ job.translated_text }}</p>
                {% for biddingOffer in biddingOffers %}
                    {% if biddingOffer.job == job and biddingOffer.translator == job.translator %}
                        <p>Accepted quote: {{biddingOffer.quote}}</p>
                    {% endif %}
                {% endfor %} 
                {% if user == job.user %}
                    <a href="{% url 'app:rate_job' job.id %}">Rate job</a>
                {% endif %}
                <br>
        {% endfor %}
    {% endif %}


{% endblock %}