{% extends 'app/base.html' %}
{% block content %}

    <h1>Svi poslovi</h1>
    {% if error_message %}
        {{ error_message }}
    {% endif %}

    {% for job in jobs %}
        <div>
            <p>{{ job.title }}</p> <br>
            <p>{{ job.description }}</p>
            <p>{{ job.source_launguage }}</p>
            <p>{{ job.target_language }}</p>
            <p>{{ job.get_field_display }}</p>
            <p>{{ job.budget }}</p>
            <p><a href="">{{ job.user.username }}</a></p>
            {% if not job.user == user and user.is_translator %}   
                <p><a href="{% url 'app:job_bidding' job.id %}">Bid on Job</a></p>
            {% endif %}
            <p><a href="/">Message User</a></p>
        </div>
        <br><br>

    {% endfor %}
{% endblock %}